@font-face {
    font-family: Lato-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Lato-Light-webfont.woff) format('woff');
}

body, html {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_block {
    top:0;
    bottom: 0;
    right:0;
    left:0;
    background-color: black;
    opacity: 0.8;
    z-index: 50;
    position: fixed;
}

.node {
    cursor: pointer;
}

.node circle {
    stroke: #cc4d35;
    stroke-width: 2px;
}

.node text {
    fill: white;
    font: 10px "Lato-Regular";
}

.link {
    fill: none;
    stroke: #cc6e59;
    stroke-width: 1.5px;
}

.button-circle {

}

.modal {
    display: block;
}

.main {
    position: absolute;
    background-color: #232323;
    width: 100%;
    top: 0px;
    bottom: 0px;
}

.cursor {
    cursor: pointer;
}

.right{
    left: 33px;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.left {
    width: 33px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.editor-settings-btn {
    position: absolute;
    bottom: 4px;
    right: 5px;
    z-index: 10;
}

.editor-settings-ribbon {
    position: absolute;
    bottom: 4px;
    right: 55px;
    z-index: 9;
}

.editor-top{
    width: 80%;
    float: right;
}

.editor-bottom{
    width: 100%;
    height: 100%;
}

.semi-fluid {
    margin-left: 3%; 
    margin-right: 3%;
}

.editor {
    width: 100%;
    height: 100%;
}

.panel-box {
    float:right; 
    height: 100%; 
}

.panel-editor {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.button-text-align {
    margin-right: 5px;
    float: right;
}

.form-signin {
    max-width: 400px;
    padding: 60px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}